body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #BEF1C3;
}

header {
  background: #2c7a7b;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 125%;
}

.home{
  font-size: 125%;
  border-radius: 10px;
  padding: 50px;
}

nav a {
  color: white;
  margin: 20px;
  text-decoration: none;
}

.offer{
  margin-top: 75px;
  margin-left: 50px;
font-size: 125%;
}
.services{
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.services > div {
  flex: 1;
  min-width: 300px;
  box-sizing: border-box;
}

.service1{
  background-color: #BEF1C3;
}

.service2{
  background-color: #e6f4f4;
  background-position: center;
}

.service3{
  background-color: #BEF1C3;
}

.contact{
  border-radius: 10px;
  padding: 50px;
  font-size: 125%;
}
.details{
  position: relative;
  margin-left: 800px;
  margin-top: -550px;
  font-size: 125%;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.logo {
  width: 200px;
}

.home img {
  width: 100%;
  max-width: 900px;
  border-radius: 8px;
}

.services img {
  width: 100%;
  max-width: 425px;
  height: auto;
}

.contact img {
  width: 100%;
  max-width: 500px;
}